* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Alegreya-Medium";
  src: url(../fonts/Alegreya-VariableFont_wght.ttf);
}
header {
  background-color: #b3daff;
  padding: 2vh;
}

img {
  position: absolute;
  width: auto;
  height: auto;
  margin-left: 3%;
  margin-top: 1%;
}
nav {
  margin-top: 8%;
  margin-left: 50%;
}
ul {
  list-style-type: none;
  font-size: larger;
}

li {
  display: inline;
  padding: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.photoPerfil {
  width: 33%;
  height: auto;
  margin-left: 7%;
  margin-top: -2%;
}
main {
  background-color: aquamarine;
  width: 50%;
  margin-left: 50%;
  padding: 3%;
}
h1 {
  font-family: "Alegreya-Medium";
  margin-top: -1%;
  font-size: 3em;
  columns: 2;
}
h2 {
  font-family: "Alegreya-Medium";
  font-size: 2.5em;
  text-align: center;
  padding: 1%;
  margin-left: 17%;
}
p {
  margin-top: 3%;
  font-size: 2vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

article {
  display: flexbox;
  position: relative;
  width: 100%;
  background-color: yellow;
}
.tentantes {
  position: relative;
  width: 30%;
  margin-left: 10%;
}
#chance {
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vh;
  background-color: pink;
  width: 10%;
  margin-left: 20%;
  border-color: 2% 2% black;
}
.gravida {
  position: relative;
  width: 35%;
  margin-left: 50%;
  margin-top: -3%;
}

.tea {
  position: relative;
  width: 40%;
  height: auto;
}
